<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{{or site.url siteRootPath}}}">
        <img class="navbar-item logo" src="{{uiRootPath}}/img/logo-brand.svg" alt="Brand logo">
      </a>
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://gitlab.com/tecdocgen/tecdocgen/">Sources</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
